<configuration>
  <connectionStrings>
    <!-- SkyNodes -->
	<add name="Jhu.Graywulf.Schema.Dataset.MYDB" connectionString="Data Source=gw06;Initial Catalog=Graywulf_Temp;Integrated Security=true"/>
	<add name="Jhu.Graywulf.Schema.Dataset.TEMP" connectionString="Data Source=gw06;Initial Catalog=Graywulf_Temp;Integrated Security=true"/>
	<add name="Jhu.Graywulf.Schema.Dataset.CODE" connectionString="Data Source=gw06;Initial Catalog=SkyQuery_Code;Integrated Security=true"/>
  </connectionStrings>
</configuration>