<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <jhu.graywulf>
    <!--<keystone>
      <client baseUri="http://localhost:5000/" domain="default" adminProject="admin" adminUserName="admin" adminPassword="almafa" />
    </keystone>-->
    <authentication>
      <!-- Graywulf login page -->
      <forms baseUri="/auth" />
      <!-- SciServer login page-->
      <!--<forms baseUri="/login-portal" 
             signInUri="/?callbackUrl=[$ReturnUrl]" signOutUri="" registerUri="" accountUri="/user" />-->
      <openID>
        <add authorityName="Google" authorityUri="https://www.google.com/accounts/o8/ud" displayName="GoogleID" discoveryUri="https://www.google.com/accounts/o8/id" />
        <add authorityName="VOID" authorityUri="https://sso.usvao.org/openid/provider" displayName="VO OpenID" discoveryUri="https://sso.usvao.org/openid/provider_id" />
      </openID>
      <!--<keystone enabled="true" isMasterAuthority="true" authTokenParameter="token" />-->
    </authentication>
  </jhu.graywulf>

</configuration>