<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <jhu.graywulf>
    <casJobs
        baseUri="http://localhost/CasJobs/RestApi"
        batchAdminConnectionString="Data Source=localhost;Initial Catalog=BatchAdmin;Integrated Security=true;"
        defaultSchema="mydb" />
    <sciDrive
        baseUri="http://localhost:8080/vospace-2.0/" />
  </jhu.graywulf>
</configuration>