<configuration>
  <jhu.graywulf>
    <appDomain assemblyPath="bin" />
    <rest>
      <customHeaders>
        <add key="Access-Control-Allow-Origin" value="*" />
        <add key="Access-Control-Allow-Headers" value="Accept, Content-Type, Content-Range, Content-Disposition, Content-Description, X-Auth-Token" />
        <add key="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
      </customHeaders>
    </rest>
  </jhu.graywulf>

  <!-- Turn off debug feature that causes jquery to throw exceptions-->
  <appSettings>
    <add key="vs:EnableBrowserLink" value="false" />
  </appSettings>
  <system.web>
    <globalization culture="en-us" />
    <customErrors mode="Off" defaultRedirect="~/Error.aspx"/>
    <!--
    <authentication mode="Forms">
      <forms name=".ASPXFORMSAUTH" loginUrl="/gwauth/SignIn.aspx" enableCrossAppRedirects="true" path="/" />
    </authentication>
    <machineKey validationKey="1EA6B89501332424322AA546886DA32950ED3B70B966B79846BA1F7F91DF0FB331056362B024A4EFF756D933EAED837B18E2C50B4D7E0D14BA09CC255E90FC60" decryptionKey="2803B83D3415FAC5597EE4FC9D01C4DEDBB65B2347877037DF9E15FE734EED89" validation="SHA1" decryption="AES" />
    -->
  </system.web>
  <!-- Enable WCF REST tracing -->
  <system.diagnostics>
    <trace autoflush="true"/>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData= "C:\Data\dobos\project\skyquery-all\Traces.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <system.serviceModel>
    <diagnostics>
      <endToEndTracing propagateActivity="true" activityTracing="true"
        messageFlowTracing="true" />
    </diagnostics>
  </system.serviceModel>
</configuration>
